misc/segments4/*
misc/customprofiles
target/
*.BAK
.classpath
.project
*.class
*.iml

.idea/*
!/.idea/runConfigurations

misc/scripts/mapcreation/srtm/*
misc/scripts/mapcreation/*.pbf
brouter-web/*
customprofiles/*

!misc/segments4/update.sh